* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #f9ead1;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

#container {
    position: relative;
    width: 450px;
    margin: 0 auto;
    padding: 20px;
}


#board {
    position: relative;
    background-color: #bbada0;
    border-radius: 6px;
    width: 450px;
    height: 450px;
    padding: 10px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px; 
}

.item {
    background-color: #cdc1b4; 
    border-radius: 3px;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 5rem;
    font-weight: bold;
    color: #776e65;
}




